/* our existing background styles */
.bg {
  background-image: url(di.png);
  height: 100vh;
  background-size: 100% 155%;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
}
.content {
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topicHeight {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startButton {
  border: none;
  outline: 5px;
  padding: 25px;
  font-size: 40px;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgb(43, 172, 50);
  box-shadow: 0px 0px 3px black;
  color: white;
  outline-offset: 5px;
  -webkit-text-stroke: 1px black;
  font-family: "Times New Roman", Times, serif;
}

.upbeat {
  border: none;
  outline: 5px;
  padding: 10px;
  font-size: 60px;
  padding-left: 75px;
  padding-right: 75px;
  cursor: none;
  border-radius: 20px;
  background-color: rgb(209, 209, 209);
  box-shadow: 0px 0px 3px black;
  color: black;
  outline-offset: 5px;
  font-family: "Times New Roman", Times, serif;
}
